{%load static%}
{%block contents%}
<!DOCTYPE html>
<html>
    <head>
        <title>Todo Web App</title>
        <link rel="stylesheet" type="text/css" href="{%static 'css/todo.css'%}">
    </head>
    <body>
        <div class="container">
            <div class="form-content">
                <h2>Add Note</h2>
                <form method="POST">
                    {%csrf_token%}
                    <input type="text" name="title" placeholder="Enter Your Note Title"><br>
                    <textarea name="content" placeholder="Enter Your Note Content"></textarea><br>
                    <button id="btn1">Add Note</button>
                </form>
            </div>
        </div>
        <div class="result">
            <h3 id="h3">View added note</h3>
            {%for todo_now in form%}
            <div class="content">
            <h3>{{todo_now.title}}</h3>
            <p>{{todo_now.content}}</p>
            <button id="btn2"><a href="delete/{{todo_now.id}}">delete</a></button>
        </div>
            {%endfor%}
        </div>
    </body>
</html>

{%endblock%}